@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  max-width: 984px;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1030px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 775px) {
  .lead {
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 330px) {
  .lead {
    margin: 0 auto 70px;
  }
}
