.header__link {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  transition: ease-in 0.1s opacity;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 330px) {
  .header__link {
    font-size: 18px;
    line-height: 24px;
  }
}
