@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__info/intro__info.css);

.intro {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1030px) {
  .intro {
    max-width: 690px;
    margin: 0 0 88px 48px;
  }
}

@media screen and (max-width: 775px) {
  .intro {
    max-width: 720px;
    margin: 0 24px 88px;
  }
}

@media screen and (max-width: 330px) {
  .intro {
    max-width: 288px;
    margin: 0 auto 64px;
  }
}
