.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  transition: ease-in 0.1s opacity;
}

.place__link:hover {
  opacity: 0.8;
}

