.cover__overlay {
    background: rgba(42, 44, 47, 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: ease-in .1s background;
}

.cover__overlay:hover {
    background: rgba(47, 42, 42, 0.8);
}