.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 0 48px;
}

@media screen and (max-width: 775px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 330px) {
  .lead__caption {
    margin-left: 16px;
  }
}
