.place__website {
  align-self: end;
  margin: 0 0 8px 0;
}

@media screen and (max-width: 1030px) {
  .place__website {
    margin: 0 0 16px 0;
  }
}

@media screen and (max-width: 775px) {
  .place__website {
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 330px) {
  .place__website {
    display: none;
  }
}