.cover__content {
  max-width: 1184px;
  height: 740px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 1030px) {
  .cover__content {
    height: 640px;
  }
}

@media screen and (max-width: 775px) {
  .cover__content {
    height: 480px;
  }
}

@media screen and (max-width: 330px) {
  .cover__content {
    height: 200px;
  }
}
